<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <display-name>LoginServlet</display-name>
        <description></description>
        <servlet-class>ru.tsystems.tproject.controllers.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/controllers/LoginServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>NewOptionServlet</servlet-name>
        <display-name>NewOptionServlet</display-name>
        <description></description>
        <servlet-class>ru.tsystems.tproject.controllers.NewOptionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewOptionServlet</servlet-name>
        <url-pattern>/controllers/NewOptionServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AllOptionsServlet</servlet-name>
        <display-name>AllOptionsServlet</display-name>
        <description></description>
        <servlet-class>ru.tsystems.tproject.controllers.AllOptionsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AllOptionsServlet</servlet-name>
        <url-pattern>/controllers/AllOptionsServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteOptionServlet</servlet-name>
        <display-name>DeleteOptionServlet</display-name>
        <description></description>
        <servlet-class>ru.tsystems.tproject.controllers.DeleteOptionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteOptionServlet</servlet-name>
        <url-pattern>/controllers/DeleteOptionServlet</url-pattern>
    </servlet-mapping>

</web-app>
