.menu-sprite, .icon-back-arrow, .np_menu .np_icon.tariff, .np_menu .np_icon.domains, .np_menu .np_icon.sites, .np_menu .np_icon.mysql, .np_menu .np_icon.fileman, .np_menu .np_icon.mailman, .np_menu .np_icon.backup, .np_menu .np_icon.managers, .np_menu .np_icon.cms, .np_menu .np_icon.crontab, .np_menu .np_icon.logmanager, .np_menu .np_icon.jabber, .np_menu .np_icon.loading, .np_menu .np_icon.security, .np_menu .np_icon.services, .np_menu .np_icon.balance, .np_menu .np_icon.sms, .np_menu .np_icon.bonuses, .np_menu .np_icon.documents, .np_menu .np_icon.cdn, .np_menu-div_selected .np_icon.tariff, .np_menu-div_selected:hover .np_icon.tariff, .np_menu-div_selected .np_icon.domains, .np_menu-div_selected:hover .np_icon.domains, .np_menu-div_selected .np_icon.sites, .np_menu-div_selected:hover .np_icon.sites, .np_menu-div_selected .np_icon.mysql, .np_menu-div_selected:hover .np_icon.mysql, .np_menu-div_selected .np_icon.fileman, .np_menu-div_selected:hover .np_icon.fileman, .np_menu-div_selected .np_icon.mailman, .np_menu-div_selected:hover .np_icon.mailman, .np_menu-div_selected .np_icon.backup, .np_menu-div_selected:hover .np_icon.backup, .np_menu-div_selected .np_icon.managers, .np_menu-div_selected:hover .np_icon.managers, .np_menu-div_selected .np_icon.cms, .np_menu-div_selected:hover .np_icon.cms, .np_menu-div_selected .np_icon.crontab, .np_menu-div_selected:hover .np_icon.crontab, .np_menu-div_selected .np_icon.logmanager, .np_menu-div_selected:hover .np_icon.logmanager, .np_menu-div_selected .np_icon.jabber, .np_menu-div_selected:hover .np_icon.jabber, .np_menu-div_selected .np_icon.loading, .np_menu-div_selected:hover .np_icon.loading, .np_menu-div_selected .np_icon.security, .np_menu-div_selected:hover .np_icon.security, .np_menu-div_selected .np_icon.balance, .np_menu-div_selected:hover .np_icon.balance, .np_menu-div_selected .np_icon.services, .np_menu-div_selected:hover .np_icon.services, .np_menu-div_selected .np_icon.cdn, .np_menu-div_selected:hover .np_icon.cdn, .np_menu-div_selected .np_icon.sms, .np_menu-div_selected:hover .np_icon.sms, .np_menu-div_selected .np_icon.bonuses, .np_menu-div_selected:hover .np_icon.bonuses, .np_menu-div_selected .np_icon.documents, .np_menu-div_selected:hover .np_icon.documents {
    background: url('/public/images/menu-s25990278ea.png') no-repeat;
}
.np_menu {
    width: 221px;
    background-color: #f2f9fc;
    border-right: 1px solid #F0F5F6;
    vertical-align: top;
    padding: 12px 0 16px 0;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.np_menu+.content {
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.wrap-for-hover {
    margin-left: 10px;
    margin-right: 10px;
}
.main-menu-item, .main-menu-item.disabled, .main-menu-item.disabled:hover, .menu-item-hover .np_menu-div_selected {
    border-width: 1px !important;
    border-style: solid !important;
    border-color: #F2F9FC !important;
    background-color: transparent;
}
.main-menu-item:hover, .np_menu-div_selected, .menu-item-hover .np_menu-div_selected:hover {
    border: 1px solid #DFE9EC !important;
    background-color: #FFFFFF;
}
.main-menu-item, .np_menu-div_selected {
    display: block;
    height: 30px;
    padding-left: 9px;
    margin-bottom: 3px;
    line-height: 30px;
    border-radius: 4px;
}
.np_icon {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
    position: relative;
    top: -2px;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-right: 6px;
    vertical-align: middle;
}
.href_line {
    position: relative;
    top: -1px;
    display: inline;
    padding-bottom: 0 !important;
    white-space: nowrap;
    color: inherit;
    transition: border-bottom-color 0.1s linear 0s;
}
.main-menu-item:hover .np_icon {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}
.main-menu-item:hover .disabled .np_icon {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
}
.main-menu-item:hover .href_line {
    border-bottom-color: rgba(0, 0, 0, 0);
}
.main-menu-item.disabled.disabled:hover .np_icon, .main-menu-item.disabled:hover.disabled:hover .np_icon {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
}
.np_menu-div_selected {
    color: #cc9933;
}
.np_menu-div_selected:hover {
    border: 1px solid #DFE9EC !important;
}
.np_menu-div_selected .href_line, .np_menu-div_selected .href_line:hover, .np_menu-div_selected:hover .href_line {
    color: #cc9933 !important;
    border-bottom: none;
}
.return-to-old {
    display: block;
    height: 30px;
    padding-left: 13px;
    margin-top: 27px;
    font-size: 11px;
    line-height: 30px;
    letter-spacing: -0.1pt;
    color: #fff;
    background: #809bb8;
}
.return-to-old span {
    position: inherit;
    border-bottom: 1px solid;
    border-color: #b0c1d3;
    text-decoration: none;
}
.return-to-old:hover span {
    border: 0;
}
.np_menu-line {
    background: url("/images/np/bg_line.png") center center repeat-x;
    height: 1px;
    margin-top: 23px;
    margin-right: 5px;
    margin-bottom: 14px;
    margin-left: 5px;
}
.icon-back-arrow {
    display: inline-block;
    margin-right: 11px;
    vertical-align: middle;
    background-position: 0 -934px;
    height: 20px;
    width: 15px;
}
.np_menu .np_icon.tariff {
    background-position: 0 -894px;
    height: 20px;
    width: 20px;
}
.np_menu .np_icon.domains {
    background-position: 0 -334px;
    height: 20px;
    width: 20px;
}
.np_menu .np_icon.sites {
    background-position: 0 -814px;
    height: 20px;
    width: 20px;
}
.np_menu .np_icon.mysql {
    background-position: 0 -254px;
    height: 20px;
    width: 20px;
}
.np_menu .np_icon.fileman {
    background-position: 0 -374px;
    height: 20px;
    width: 20px;
}
.np_menu .np_icon.mailman {
    background-position: 0 -594px;
    height: 20px;
    width: 20px;
}
.np_menu .np_icon.backup {
    background-position: 0 -54px;
    height: 20px;
    width: 20px;
}
.np_menu .np_icon.managers {
    background-position: 0 -434px;
    height: 20px;
    width: 20px;
}
.np_menu .np_icon.cms {
    background-position: 0 -174px;
    height: 20px;
    width: 20px;
}
.np_menu .np_icon.crontab {
    background-position: 0 -214px;
    height: 20px;
    width: 20px;
}
.np_menu .np_icon.logmanager {
    background-position: 0 -554px;
    height: 20px;
    width: 20px;
}
.np_menu .np_icon.jabber {
    background-position: 0 -474px;
    height: 20px;
    width: 20px;
}
.np_menu .np_icon.loading {
    background-position: 0 -514px;
    height: 20px;
    width: 20px;
}
.np_menu .np_icon.security {
    background-position: 0 -734px;
    height: 20px;
    width: 20px;
}
.np_menu .np_icon.services {
    background-position: 0 -774px;
    height: 20px;
    width: 20px;
}
.np_menu .np_icon.balance {
    background-position: 0 -414px;
    height: 20px;
    width: 20px;
}
.np_menu .np_icon.sms {
    background-position: 0 -634px;
    height: 20px;
    width: 20px;
}
.np_menu .np_icon.bonuses {
    background-position: 0 -94px;
    height: 20px;
    width: 20px;
}
.np_menu .np_icon.documents {
    background-position: 0 -294px;
    height: 20px;
    width: 20px;
}
.np_menu .np_icon.cdn {
    background-position: 0 -134px;
    height: 20px;
    width: 20px;
}
.np_menu-div_selected .np_icon, .np_menu-div_selected:hover .np_icon {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}
.np_menu-div_selected .np_icon.tariff, .np_menu-div_selected:hover .np_icon.tariff {
    background-position: 0 -874px;
    height: 20px;
    width: 20px;
}
.np_menu-div_selected .np_icon.domains, .np_menu-div_selected:hover .np_icon.domains {
    background-position: 0 -314px;
    height: 20px;
    width: 20px;
}
.np_menu-div_selected .np_icon.sites, .np_menu-div_selected:hover .np_icon.sites {
    background-position: 0 -794px;
    height: 20px;
    width: 20px;
}
.np_menu-div_selected .np_icon.mysql, .np_menu-div_selected:hover .np_icon.mysql {
    background-position: 0 -234px;
    height: 20px;
    width: 20px;
}
.np_menu-div_selected .np_icon.fileman, .np_menu-div_selected:hover .np_icon.fileman {
    background-position: 0 -354px;
    height: 20px;
    width: 20px;
}
.np_menu-div_selected .np_icon.mailman, .np_menu-div_selected:hover .np_icon.mailman {
    background-position: 0 -574px;
    height: 20px;
    width: 20px;
}
.np_menu-div_selected .np_icon.backup, .np_menu-div_selected:hover .np_icon.backup {
    background-position: 0 -654px;
    height: 20px;
    width: 20px;
}
.np_menu-div_selected .np_icon.managers, .np_menu-div_selected:hover .np_icon.managers {
    background-position: 0 -454px;
    height: 20px;
    width: 20px;
}
.np_menu-div_selected .np_icon.cms, .np_menu-div_selected:hover .np_icon.cms {
    background-position: 0 -154px;
    height: 20px;
    width: 20px;
}
.np_menu-div_selected .np_icon.crontab, .np_menu-div_selected:hover .np_icon.crontab {
    background-position: 0 -194px;
    height: 20px;
    width: 20px;
}
.np_menu-div_selected .np_icon.logmanager, .np_menu-div_selected:hover .np_icon.logmanager {
    background-position: 0 -534px;
    height: 20px;
    width: 20px;
}
.np_menu-div_selected .np_icon.jabber, .np_menu-div_selected:hover .np_icon.jabber {
    background-position: 0 -914px;
    height: 20px;
    width: 20px;
}
.np_menu-div_selected .np_icon.loading, .np_menu-div_selected:hover .np_icon.loading {
    background-position: 0 -494px;
    height: 20px;
    width: 20px;
}
.np_menu-div_selected .np_icon.security, .np_menu-div_selected:hover .np_icon.security {
    background-position: 0 -714px;
    height: 20px;
    width: 20px;
}
.np_menu-div_selected .np_icon.balance, .np_menu-div_selected:hover .np_icon.balance {
    background-position: 0 -394px;
    height: 20px;
    width: 20px;
}
.np_menu-div_selected .np_icon.services, .np_menu-div_selected:hover .np_icon.services {
    background-position: 0 -754px;
    height: 20px;
    width: 20px;
}
.np_menu-div_selected .np_icon.cdn, .np_menu-div_selected:hover .np_icon.cdn {
    background-position: 0 -114px;
    height: 20px;
    width: 20px;
}
.np_menu-div_selected .np_icon.sms, .np_menu-div_selected:hover .np_icon.sms {
    background-position: 0 -614px;
    height: 20px;
    width: 20px;
}
.np_menu-div_selected .np_icon.bonuses, .np_menu-div_selected:hover .np_icon.bonuses {
    background-position: 0 -74px;
    height: 20px;
    width: 20px;
}
.np_menu-div_selected .np_icon.documents, .np_menu-div_selected:hover .np_icon.documents {
    background-position: 0 -274px;
    height: 20px;
    width: 20px;
}